body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col3 {
  background: mediumseagreen;

}

.MuiTableRow-root {
  background: mediumseagreen;
  position: relative;

}

.form-dialog {
  background: coral;
  position: relative;
}

.form-dialog .add-icon {
  position: absolute;
  right: 20px;
}